body {
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

.left-container {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 50vw;
    height: 100vh;
    background-color: #3771EE;
    color: white;
    font-size: 2.8vw;
    justify-content: center;
    align-items: center;
}

.left-container div {
    width: 70%;
}

.right-container  {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 0;
    width: 50vw;
    height: 100vh;
    background-color: white;
    color: black;
    font-size: 1vw;
    justify-content: center;
    align-items: center;
}
.right-container div, img {
    max-width: 70%;
    margin-bottom: 40px;
}

#welcome span {
    margin: 0;
    padding: 0;
    margin-right: -.5em;
}

.top-bar {
    position: absolute;
    left: 0;
    top: 0;
    height: auto;
    width: 100%;
    z-index: 1;
    align-items: center;
}

.top-bar .bucket {
    top: auto;
    display: flex;
    width: auto;
    height: auto;
    float: right;
    align-items: center;
    height: 100%;
    font-size: 120%;
}

.bucket a, h4, button {
    margin: 7px;
    padding: 7px;
}

button {
    background-color: #3771EE;
    border: none;
    color: white;
}

a {
    display: none;
    text-decoration: none;
    color: black;
}

.text-box {
    display: none;
}